Repository csdoris/Group-7-Kimchi-Stonks, pull requests merged in 2021-04, with the labels that each got.

#88 [FEAT] Add implementation and styling of market prediction and purchase container in FRONTEND
  frontend/src/components/Dialogs/AddBuyingPowerDialog/AddBuyingPowerDialog.scss
  frontend/src/routes/KimchiStonksApp/KimchiStonksApp.js
  frontend/src/routes/KimchiStonksApp/NavBar/NavBar.scss
  frontend/src/routes/KimchiStonksApp/Stock/Stock.js
  frontend/src/routes/KimchiStonksApp/Stock/StockUtility/StockUtility.js
  frontend/src/routes/KimchiStonksApp/Stock/StockUtility/StockUtility.scss
Labels: feature, frontend

#89 [FEAT] Add chart.js in and implement stock graph FRONTEND
  frontend/.eslintrc.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/routes/KimchiStonksApp/Stock/Stock.js
  frontend/src/routes/KimchiStonksApp/Stock/Stock.scss
  frontend/src/routes/KimchiStonksApp/Stock/StockGraph/StockGraph.js
  frontend/src/routes/KimchiStonksApp/Stock/StockUtility/StockUtility.js
Labels: feature, frontend

#91 [FEAT] Add dynamic user data to user info bar in FRONTEND
  backend/src/services/auth.js
  frontend/src/routes/KimchiStonksApp/UserInfoBar/UserInfoBar.js
Labels: feature, frontend

#92 [FEAT] Add Dashboard Endpoints in BACKEND
  backend/package-lock.json
  backend/package.json
  backend/src/app.js
  backend/src/controllers/dashboard.js
  backend/src/routes/dashboard.js
Labels: backend, feature

#93 [FEAT] Add Dashboard Endpoints in BACKEND
  backend/src/controllers/dashboard.js
  backend/src/routes/dashboard.js
Labels: backend, feature

#98 [FEAT] Add Dashboard Endpoints in BACKEND
  backend/.eslintrc.json
  backend/src/controllers/dashboard.js
Labels: backend, feature

#94 [FEAT] Add Dashboard Endpoints in BACKEND
  backend/.eslintrc.json
  backend/src/controllers/dashboard.js
Labels: backend, feature

#96 [FEAT] Add Dashboard Endpoints in BACKEND
  backend/src/controllers/dashboard.js
Labels: backend, feature

#95 [FEAT] Add Dashboard Endpoints in BACKEND
  backend/src/controllers/dashboard.js
Labels: backend, feature

#99 [FEAT] Add User Endpoints in BACKEND
  backend/package-lock.json
  backend/src/app.js
  backend/src/controllers/user.js
  backend/src/mongodb/schemas/stockSchema.js
  backend/src/routes/user.js
  backend/src/services/user.js
Labels: backend, feature

#101 [MISC] Modify the auto login route endpoint to use kebab case in BACKEND and all calls in FRONTEND
  backend/src/routes/auth.js
  frontend/src/contexts/Auth.js
Labels: backend, frontend, miscellaneous

#103 [MISC] Modify dashboard routes and controllers in BACKEND
  backend/src/controllers/dashboard.js
  backend/src/routes/dashboard.js
Labels: backend, miscellaneous

#105 [MISC] Modify user endpoints in BACKEND
  backend/src/app.js
  backend/src/controllers/user.js
  backend/src/routes/user.js
  backend/src/services/user.js
Labels: backend, miscellaneous

#107 [FEAT] Add Dashboard Endpoints in BACKEND
  backend/src/controllers/dashboard.js
  backend/src/routes/dashboard.js
Labels: backend, feature

#111 [MISC] Modify dashboard endpoints in BACKEND
  backend/src/controllers/dashboard.js
  backend/src/routes/dashboard.js
Labels: backend, miscellaneous

#112 [MISC] Modify dashboard endpoints in BACKEND
  backend/src/controllers/dashboard.js
Labels: backend, miscellaneous

#114 [FEAT] Add communication between app and api in FRONTEND
  backend/src/controllers/dashboard.js
  frontend/src/components/Dialogs/AddBuyingPowerDialog/AddBuyingPowerDialog.js
  frontend/src/components/InputField/InputField.js
  frontend/src/components/Table/Table.js
  frontend/src/contexts/Auth.js
  frontend/src/contexts/Stock.js
  frontend/src/routes/KimchiStonksApp/KimchiStonksApp.js
  frontend/src/routes/KimchiStonksApp/NavBar/NavBar.js
  frontend/src/routes/KimchiStonksApp/NavBar/NavBar.scss
  frontend/src/routes/KimchiStonksApp/NavBar/StockSearch/StockSearch.js
  frontend/src/routes/KimchiStonksApp/NavBar/StockSearch/StockSearch.scss
  frontend/src/routes/KimchiStonksApp/Stock/Stock.js
  frontend/src/routes/KimchiStonksApp/Stock/StockGraph/StockGraph.js
Labels: backend, feature, frontend

#117 [MISC] Modify search endpoint in BACKEND
  backend/src/controllers/dashboard.js
Labels: backend, miscellaneous

#118 [BUG] Catch errors in search endpoint in BACKEND
  backend/src/controllers/dashboard.js
Labels: backend, bug

#120 [FEAT] Add stock overview implementation in FRONTEND
  frontend/src/routes/KimchiStonksApp/Stock/Stock.js
  frontend/src/routes/KimchiStonksApp/Stock/Stock.scss
  frontend/src/routes/KimchiStonksApp/Stock/StockOverview/StockOverview.js
Labels: feature, frontend

#121 [FEAT] Add stock graph options in FRONTEND
  backend/src/controllers/dashboard.js
  frontend/src/components/Button/Button.scss
  frontend/src/contexts/Stock.js
  frontend/src/routes/KimchiStonksApp/NavBar/StockSearch/StockSearch.js
  frontend/src/routes/KimchiStonksApp/Stock/Stock.js
  frontend/src/routes/KimchiStonksApp/Stock/Stock.scss
  frontend/src/routes/KimchiStonksApp/Stock/StockGraph/StockGraph.js
Labels: feature, frontend

#123 [FEAT] Add table to wall street in FRONTEND
  frontend/src/components/Table/Table.js
  frontend/src/components/Table/Table.scss
  frontend/src/routes/KimchiStonksApp/Dashboard/Dashboard.js
  frontend/src/routes/KimchiStonksApp/Dashboard/Dashboard.scss
  frontend/src/routes/KimchiStonksApp/Market/Market.js
  frontend/src/routes/KimchiStonksApp/Market/Market.scss
Labels: feature, frontend

#127 [FEAT] Add buy stock functionality by connecting to endpoint in FRONTEND
  backend/src/controllers/user.js
  backend/src/mongodb/schemas/stockSchema.js
  backend/src/services/user.js
  frontend/src/components/Table/Table.js
  frontend/src/contexts/Auth.js
  frontend/src/contexts/Stock.js
  frontend/src/routes/KimchiStonksApp/Dashboard/Dashboard.js
  frontend/src/routes/KimchiStonksApp/Market/Market.js
  frontend/src/routes/KimchiStonksApp/Stock/StockUtility/StockUtility.js
Labels: backend, feature, frontend

#128 [FEAT] Added predicted price into StockUtility.js
  frontend/src/contexts/Stock.js
  frontend/src/routes/KimchiStonksApp/Stock/StockUtility/StockUtility.js
Labels: frontend

#129 [FEAT] Add sell functionality by connecting to api in FRONTEND
  backend/src/controllers/user.js
  backend/src/services/auth.js
  backend/src/services/user.js
  frontend/src/components/Dialogs/SellStocksDialog/SellStocksDialog.js
  frontend/src/components/Dialogs/SellStocksDialog/SellStocksDialog.scss
  frontend/src/components/Table/Table.js
  frontend/src/components/Table/Table.scss
  frontend/src/contexts/Stock.js
  frontend/src/routes/KimchiStonksApp/Dashboard/Dashboard.js
  frontend/src/routes/KimchiStonksApp/Market/Market.js
  frontend/src/routes/KimchiStonksApp/Stock/Stock.js
  frontend/src/routes/KimchiStonksApp/UserInfoBar/UserInfoBar.js
Labels: feature, frontend

#131 [MISC] Simplify overview endpoint in BACKEND
  backend/src/controllers/dashboard.js
Labels: backend, miscellaneous

#130 [TEST] Add User Authentication Tests in BACKEND
  .github/workflows/pipeline.yml
  backend/.eslintrc.json
  backend/babel.config.js
  backend/jest.config.js
  backend/package-lock.json
  backend/package.json
  backend/src/controllers/auth.js
  backend/src/routes/__tests__/auth.test.js
  backend/src/services/auth.js
  frontend/package-lock.json
Labels: backend, test

#136 [MISC] Replace AV API with TheStreet in BACKEND - Overview
  backend/src/controllers/dashboard.js
Labels: backend, miscellaneous

#143 [FEAT] Add missing dialogs in FRONTEND
  backend/src/services/auth.js
  backend/src/services/user.js
  frontend/src/components/Dialogs/AddBuyingPowerDialog/AddBuyingPowerDialog.js
  frontend/src/components/Dialogs/SellStocksDialog/SellStocksDialog.js
  frontend/src/components/Dialogs/TextDialog/TextDialog.js
  frontend/src/components/Dialogs/TextDialog/TextDialog.scss
  frontend/src/components/InputField/InputField.js
  frontend/src/contexts/Auth.js
  frontend/src/contexts/Stock.js
  frontend/src/routes/Auth/LoginForm/LoginForm.js
  frontend/src/routes/Auth/RegisterForm/RegisterForm.js
  frontend/src/routes/KimchiStonksApp/Stock/Stock.js
  frontend/src/routes/KimchiStonksApp/Stock/StockUtility/StockUtility.js
Labels: feature, frontend

#141 [MISC] Replace AV API with Yahoo in BACKEND
  backend/src/controllers/dashboard.js
  backend/src/routes/dashboard.js
Labels: backend, miscellaneous

#145 [BUG] Fix 52 week high/low and prediction in BACKEND
  backend/src/controllers/dashboard.js
Labels: backend, bug

#142 [FEAT] Add user's total Equity to user schema
  backend/src/mongodb/schemas/userSchema.js
  frontend/package-lock.json
Labels: backend, database
