Repository csdoris/Group-7-Kimchi-Stonks, pull requests merged in 2021-03, with the labels that each got.

#30 [FEAT] Add Mongo DB & dotenv in BACKEND
  backend/package-lock.json
  backend/package.json
  backend/src/app.js
  backend/src/config/db.js
Labels: backend, feature

#31 [FEAT] Add Bcrypt and JsonWebToken in BACKEND
  backend/package-lock.json
  backend/package.json
  backend/src/server.js
Labels: backend, feature

#33 [FEAT] Add User Schema in BACKEND
  backend/src/app.js
  backend/src/mongodb/db.js
  backend/src/mongodb/schemas/userSchema.js
Labels: backend, database, feature

#39 [FEAT] Add Authentication Endpoints in BACKEND
  backend/src/app.js
  backend/src/controllers/auth.js
  backend/src/routes/auth.js
  backend/src/services/auth.js
Labels: backend, database, feature

#40 [FEAT] Add React Router in FRONTEND
  frontend/package-lock.json
  frontend/package.json
Labels: feature, frontend

#41 [FEAT] Add Pages in FRONTEND
  frontend/src/App.js
  frontend/src/routes/RootRouter.js
  frontend/src/routes/auth/Auth.js
  frontend/src/routes/dashboard/Dashboard.js
Labels: feature, frontend

#42 [FEAT] Add Authentication Components in FRONTEND
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/components/InputField/InputField.js
  frontend/src/routes/Auth/Auth.css
  frontend/src/routes/Auth/Auth.js
  frontend/src/routes/Auth/LoginForm/LoginForm.js
  frontend/src/routes/Auth/RegisterForm/RegisterForm.js
  frontend/src/routes/Dashboard/Dashboard.js
  frontend/src/routes/RootRouter.js
  frontend/src/routes/auth/Auth.js
Labels: feature, frontend

#43 [FEAT] Add Styling to Authentication Components in FRONTEND
  frontend/src/assets/logo.png
  frontend/src/components/Button/Button.css
  frontend/src/components/Button/Button.js
  frontend/src/components/InputField/InputField.css
  frontend/src/components/InputField/InputField.js
  frontend/src/index.css
  frontend/src/routes/Auth/Auth.css
  frontend/src/routes/Auth/LoginForm/LoginForm.js
  frontend/src/routes/Auth/RegisterForm/RegisterForm.js
Labels: feature, frontend

#44 [FEAT] Add request to user authentication in FRONTEND
  backend/package-lock.json
  backend/package.json
  backend/src/app.js
  frontend/.env
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Button/Button.css
  frontend/src/routes/Auth/LoginForm/LoginForm.js
  frontend/src/routes/Auth/RegisterForm/RegisterForm.js
Labels: feature, frontend

#45 [FEAT] Modify createNewUser in auth.js to check if email is unique and hash password in BACKEND
  backend/src/services/auth.js
Labels: backend, database, feature

#46 [FEAT] Modify authenticateUser in auth.js to compare password with hash in BACKEND
  backend/.eslintrc.json
  backend/src/services/auth.js
Labels: backend, feature

#49 [FEAT] Add market and stocks routes in FRONTEND
  frontend/src/routes/Auth/Auth.css
  frontend/src/routes/KimchiStonksApp/Dashboard/Dashboard.js
  frontend/src/routes/KimchiStonksApp/KimchiStonksApp.js
  frontend/src/routes/KimchiStonksApp/Market/Market.js
  frontend/src/routes/KimchiStonksApp/NavBar/NavBar.js
  frontend/src/routes/KimchiStonksApp/Stock/Stock.js
  frontend/src/routes/KimchiStonksApp/UserInfoBar/UserInfoBar.js
  frontend/src/routes/RootRouter.js
Labels: feature, frontend

#55 [FEAT] Add navbar functionality in FRONTEND
  frontend/src/index.css
  frontend/src/routes/KimchiStonksApp/KimchiStonksApp.css
  frontend/src/routes/KimchiStonksApp/KimchiStonksApp.js
  frontend/src/routes/KimchiStonksApp/NavBar/NavBar.css
  frontend/src/routes/KimchiStonksApp/NavBar/NavBar.js
Labels: feature, frontend

#56 [FEAT] Add navbar styling in FRONTEND
  frontend/src/components/Button/Button.css
  frontend/src/components/InputField/InputField.css
  frontend/src/index.css
  frontend/src/routes/KimchiStonksApp/KimchiStonksApp.css
  frontend/src/routes/KimchiStonksApp/KimchiStonksApp.js
  frontend/src/routes/KimchiStonksApp/NavBar/NavBar.css
  frontend/src/routes/KimchiStonksApp/NavBar/NavBar.js
Labels: feature, frontend

#57 Add styling to the user info bar in FRONTEND
  frontend/src/routes/KimchiStonksApp/NavBar/NavBar.css
  frontend/src/routes/KimchiStonksApp/UserInfoBar/UserInfoBar.css
  frontend/src/routes/KimchiStonksApp/UserInfoBar/UserInfoBar.js
Labels: feature, frontend

#60 [FEAT] Add nodemon for development in BACKEND
  backend/package-lock.json
  backend/package.json
Labels: backend, feature

#62 [MISC] Modify eslint rules for linebreak style in FRONTEND and BACKEND
  backend/.eslintrc.json
  frontend/.eslintrc.json
Labels: backend, frontend, miscellaneous

#66 [FEAT] Add market route layout in FRONTEND
  frontend/src/routes/KimchiStonksApp/KimchiStonksApp.css
  frontend/src/routes/KimchiStonksApp/Market/Market.css
  frontend/src/routes/KimchiStonksApp/Market/Market.js
Labels: feature, frontend

#67 [FEAT] Add stock route layout in FRONTEND
  frontend/src/routes/KimchiStonksApp/KimchiStonksApp.css
  frontend/src/routes/KimchiStonksApp/Market/Market.css
  frontend/src/routes/KimchiStonksApp/Stock/Stock.css
  frontend/src/routes/KimchiStonksApp/Stock/Stock.js
Labels: feature, frontend

#71 [FEAT] Add modal dialog component for prompting user input in FRONTEND
  frontend/.eslintrc.json
  frontend/public/index.html
  frontend/src/components/Modal/Modal.css
  frontend/src/components/Modal/Modal.js
Labels: feature, frontend

#73 [FEAT] Add buying power dialog component in FRONTEND
  frontend/src/components/Dialogs/AddBuyingPowerDialog/AddBuyingPowerDialog.css
  frontend/src/components/Dialogs/AddBuyingPowerDialog/AddBuyingPowerDialog.js
  frontend/src/components/Modal/Modal.css
  frontend/src/routes/KimchiStonksApp/KimchiStonksApp.js
  frontend/src/routes/KimchiStonksApp/UserInfoBar/UserInfoBar.js
Labels: feature, frontend

#76 [FEAT] Add global context in FRONTEND
  frontend/src/App.js
  frontend/src/providers/AuthProvider.js
Labels: feature, frontend

#78 [FEAT] Add json web token to generate token for auth users in BACKEND
  backend/src/services/auth.js
Labels: backend, feature

#79 [FEAT] Add holdings table and title for dashboard
  frontend/src/routes/KimchiStonksApp/Dashboard/Dashboard.js
  frontend/src/routes/KimchiStonksApp/Dashboard/Dashboard.scss
  frontend/src/routes/KimchiStonksApp/Dashboard/DashboardDummyHoldingsList.js
  frontend/src/routes/KimchiStonksApp/Dashboard/DashboardDummyTitles.js
  frontend/src/routes/KimchiStonksApp/TableHeader/TableHeader.js
  frontend/src/routes/KimchiStonksApp/TableHeader/TableHeader.scss
  frontend/src/routes/KimchiStonksApp/TableRow/TableRow.js
  frontend/src/routes/KimchiStonksApp/TableRow/TableRow.scss
Labels: feature, frontend

#83 [MISC] Refactor TableRow and TableHeader
  frontend/src/components/Table/Table.js
  frontend/src/components/Table/Table.scss
  frontend/src/routes/KimchiStonksApp/Dashboard/Dashboard.js
  frontend/src/routes/KimchiStonksApp/Dashboard/DashboardDummyHoldingsList.js
  frontend/src/routes/KimchiStonksApp/Dashboard/DashboardDummyTitles.js
  frontend/src/routes/KimchiStonksApp/TableHeader/TableHeader.js
  frontend/src/routes/KimchiStonksApp/TableHeader/TableHeader.scss
  frontend/src/routes/KimchiStonksApp/TableRow/TableRow.js
  frontend/src/routes/KimchiStonksApp/TableRow/TableRow.scss
Labels: frontend, miscellaneous

#85 [FEAT] Add hyperlink/clickable to the holdings table rows
  frontend/src/components/Table/Table.js
  frontend/src/components/Table/Table.scss
Labels: feature, frontend

#86 [FEAT] Add stock schema
  backend/src/mongodb/schemas/stockSchema.js
  backend/src/mongodb/schemas/userSchema.js
Labels: backend, database, feature
