Repository csdoris/Group-7-Kimchi-Stonks, pull requests merged in 2021-05, with the labels that each got.

#149 [FEAT] Add UI responsiveness to FRONTEND
  frontend/src/index.scss
  frontend/src/routes/KimchiStonksApp/NavBar/NavBar.js
  frontend/src/routes/KimchiStonksApp/NavBar/NavBar.scss
  frontend/src/routes/KimchiStonksApp/NavBar/StockSearch/StockSearch.scss
  frontend/src/routes/KimchiStonksApp/UserInfoBar/UserInfoBar.js
  frontend/src/routes/KimchiStonksApp/UserInfoBar/UserInfoBar.scss
Labels: feature, frontend

#146 [BUG] Remove on hover effect for disabled buttons in FRONTEND
  frontend/src/components/Button/Button.scss
  frontend/src/components/Dialogs/AddBuyingPowerDialog/AddBuyingPowerDialog.js
  frontend/src/components/Dialogs/SellStocksDialog/SellStocksDialog.js
  frontend/src/routes/KimchiStonksApp/Stock/Stock.js
  frontend/src/routes/KimchiStonksApp/Stock/StockOverview/StockOverview.js
Labels: bug, frontend

#148 [BUG] Remove user's inability to sell fraction of a single share
  backend/src/services/auth.js
  backend/src/services/user.js
Labels: backend, bug

#147 [FEAT] Add user buying power and total equity in user endpoint responses
  backend/src/services/user.js
Labels: backend, bug, feature

#153 [BUG] Fixed stock symbols with hyphen not accepted in BACKEND
  backend/src/controllers/dashboard.js
Labels: backend, bug

#158 [BUG] Fix user endpoint response's to "user" instead of "userInfo"
  backend/src/services/auth.js
  backend/src/services/user.js
Labels: backend, bug

#160 [FEAT] Add market price and gain to stock schema
  backend/src/mongodb/schemas/stockSchema.js
  backend/src/services/user.js
Labels: backend, database, feature

#159 [FEAT] Update user's total equity information when any user endpoint is called
  backend/src/services/user.js
Labels: backend, feature

#162 [BUG] Fix stock schema gain to store a string which summarises the change in price since buying
  backend/src/mongodb/schemas/stockSchema.js
  backend/src/services/user.js
Labels: backend, bug

#163 [FEAT] Modify to fix bugs in FRONTEND
  backend/src/services/auth.js
  backend/src/services/user.js
  frontend/src/components/Dialogs/AddBuyingPowerDialog/AddBuyingPowerDialog.js
  frontend/src/components/Dialogs/SellStocksDialog/SellStocksDialog.js
  frontend/src/components/Dialogs/TextDialog/TextDialog.js
  frontend/src/components/Modal/Modal.js
  frontend/src/components/Table/Table.js
  frontend/src/contexts/Stock.js
  frontend/src/routes/KimchiStonksApp/Dashboard/Dashboard.js
  frontend/src/routes/KimchiStonksApp/KimchiStonksApp.js
  frontend/src/routes/KimchiStonksApp/Market/Market.js
  frontend/src/routes/KimchiStonksApp/NavBar/StockSearch/StockSearch.scss
  frontend/src/routes/KimchiStonksApp/Stock/StockUtility/StockUtility.js
  frontend/src/routes/KimchiStonksApp/Stock/StockUtility/StockUtility.scss
  frontend/src/routes/KimchiStonksApp/UserInfoBar/UserInfoBar.js
  frontend/src/routes/KimchiStonksApp/UserInfoBar/UserInfoBar.scss
Labels: feature, frontend

#164 [FEAT] Add scrolling functionality to holdings and tables
  frontend/src/components/Table/Table.js
  frontend/src/components/Table/Table.scss
  frontend/src/index.scss
  frontend/src/routes/KimchiStonksApp/Dashboard/Dashboard.js
  frontend/src/routes/KimchiStonksApp/Dashboard/Dashboard.scss
  frontend/src/routes/KimchiStonksApp/Market/Market.js
  frontend/src/routes/KimchiStonksApp/UserInfoBar/UserInfoBar.scss
Labels: frontend

#166 [FEAT] Add fixed sizing to stock graphs
  frontend/src/routes/KimchiStonksApp/Dashboard/Dashboard.scss
  frontend/src/routes/KimchiStonksApp/Market/Market.scss
  frontend/src/routes/KimchiStonksApp/Stock/Stock.scss
  frontend/src/routes/KimchiStonksApp/Stock/StockUtility/StockUtility.scss
Labels: feature, frontend

#168 [TEST] Dashboard endpoint tests in BACKEND
  backend/package-lock.json
  backend/package.json
  backend/src/controllers/dashboard.js
  backend/src/middleware/validateUser.js
  backend/src/mongodb/db.js
  backend/src/routes/__tests__/dashboard_test.js
  backend/src/routes/dashboard.js
  backend/src/server.js
  backend/src/services/auth.js
  backend/src/services/user.js
Labels: backend, test

#169 [MISC] Environment variables
  backend/.env
  backend/.gitignore
  backend/src/controllers/dashboard.js
  backend/src/middleware/validateUser.js
  backend/src/mongodb/db.js
  backend/src/services/auth.js
  backend/src/services/user.js
Labels: backend, frontend, miscellaneous

#170 Update README.md
  README.md
Labels: miscellaneous

#171 [MISC] Update README.md
  README.md
Labels: miscellaneous
